<!DOCTYPE html>
<html>
<head>
  <title>Dummy</title>
  <%= stylesheet_link_tag "application", media: :all %>
  <%= javascript_include_tag "application", media: :all %>
</head>
<body>
<%= render 'phrasing/initializer' %>
<%= yield %>

</body>
</html>
