#phrasing-edit-mode-bubble{
  background: rgba(00,00,00, .7);
  color:white;
  border: 2px solid black;
  position: fixed;
  width:105px;
  height:180px;
  bottom:10px;
  right:10px;
  z-index: 9999;
  font-family: Arial, Helvetica, sans-serif;
  font-size:14px;

  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;

  p#edit-mode-headline{
    text-align: center;
    padding-top:10px;
    color:white;
    font-weight: bold;
  }

// On/Off Switch
  .onoffswitch {
    padding-left:15px;
    position: relative; 
    width: 74px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
  }
  .onoffswitch-checkbox {
      display: none;
  }
  .onoffswitch-label {
      display: block; overflow: hidden; cursor: pointer;
      border: 2px solid #666666; border-radius: 5px;
  }
  .onoffswitch-inner {
      width: 200%; margin-left: -100%;
      -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
      -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
  }
  .onoffswitch-inner:before, .onoffswitch-inner:after {
      float: left; width: 50%; height: 23px; padding: 0; line-height: 23px;
      font-size: 13px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
      -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
  }
  .onoffswitch-inner:before {
      content: "ON";
      padding-left: 8px;
      background-color: #6194FD; color: #FFFFFF;
  }
  .onoffswitch-inner:after {
      content: "OFF";
      padding-right: 8px;
      background-color: #F8F8F8; color: #666666;
      text-align: right;
  }
  .onoffswitch-switch {
      width: 31px; margin: 0px;
      background: #FFFFFF;
      border: 2px solid #666666; border-radius: 5px;
      position: absolute; top: 0; bottom: 0; right: 39px;
      -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
      -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
      background-image: -moz-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
      background-image: -webkit-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
      background-image: -o-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
      background-image: linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
  }
  .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
      margin-left: 0;
  }
  .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
      right: 0px; 
  }

  // Spinner
  #phrasing-spinner{
    margin-top: 10px;
    // background-color: black;
    text-align: center;
    font-weight: bold;
    height:40px;
    p{
      color:white;
    }
  }

  #view-all-phrases{
    margin-top:10px;
    // background-color: black;
    text-align: center;
    font-weight: bold;
    a{
      color: #0088cc;
      &:hover{
        text-decoration: none;
      }
    }
  }

  #phrasing-info-icon-container{
    text-align:center;
    cursor:pointer;
    .phrasing-info-icon{
      margin-top:-12px;
    }
  }

  #phrasing-info-container{
    display:none;
    text-align:center;
    cursor:pointer;
    p{
      font-size:12px;
      line-height:14px;
    }
    color: #8c8c8c;
    &.phrasing-info-visible{
      display:block;
    }
  }

}