#header
  %h1 Copycat
  %ul
    %li= link_to "Search", copycat_translations_path
    %li= link_to "Import / Export", import_export_copycat_translations_path
    %li= link_to "Help", help_copycat_translations_path