- if can_edit_phrases?
  .text-options#zenpenbubble
    .options
      %span.no-overflow
        %span.lengthen.ui-inputs 
          %button.url.useicons &#xe005;
          %input.url-input{placeholder: "Type or Paste URL here", type: "text"}/
          %button.bold b
          %button.italic i

  #phrasing-edit-mode-bubble
    %p#edit-mode-headline Edit mode:
    .onoffswitch
      %input#edit-mode-onoffswitch.onoffswitch-checkbox{checked: "checked", name: "onoffswitch", type: "checkbox"}/
      %label.onoffswitch-label{for: "edit-mode-onoffswitch"}
        .onoffswitch-inner
        .onoffswitch-switch
    #phrasing-spinner
      %p No changes made.
    #view-all-phrases
      %p= link_to "All phrases", phrasing_phrases_path
    #phrasing-info-icon-container
      = image_tag "http://images.bestbuy.com/BestBuy_US/en_US/images/abn/2013/tvv/pr/tv-finder/tooltip-icon-info.png", class: "phrasing-info-icon"
    #phrasing-info-container
      %p Your content will be saved automatically 3 seconds after you stop typing.